.cards {
  display: flex;
  gap: 38px 21px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}

.card {
  background: #f8f8f8;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;

  &_img {
    display: flex;
    justify-content: center;
    position: relative;
    width: 377px;
    height: 227px;
    background: #fff;
    overflow: hidden;
    @media (max-width: 380px) {
      width: 100vw;
    }
  }

  &_tag {
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    height: 30px;
    padding: 8px;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    background: #ec6608;
  }

  &_description {
    padding: 20px;
  }

  &_title {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 20px;
  }

  &_subtitle {
    margin-bottom: 15px;
  }

  &_price {
    margin-bottom: 7px;
    span {
      font-weight: bold;
    }
  }

  &_option {
    font-size: 14px;
  }
}
